{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}

<h1>Welcome</h1>

<a href="{{ path('app_register') }}">Register</a>
<a href="{{ path('product_index') }}">Products</a>
<a href="{{ path('app_category_index') }}">Categories</a>

{% endblock %}
