{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
<h1>Welcome Twig</h1>

<!-- <a href='product'>Products</a> -->
<a href="{{ path('product_index')}}">Products</a>
{% endblock %}
